html {
    scroll-behavior: smooth;
}

body {
    font-family: $mainFontFamily;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    padding: 15px;
}

.container {
    background-color: #f1f1f1;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    min-height: 95vh;
}