$mainFontFamily: 'Roboto Condensed',
sans-serif;
$headerFontFamily:'Press Start 2P',
cursive;

$titleColor: #ffffff;
$inputBorderColor: #000000;
$inputBorderColorError: #fa0000;
$inputBGcolor: #491cee69;